<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="utf-8">
  <title>Home</title>

</head>
<body>

<div class="container">
<!--  <br> <br>-->
<!--  <table class="table table-striped table-bordered">-->
<!--    <thead class="table-dark">-->
<!--    <tr>-->
<!--      <th>ID</th>-->
<!--      <th>Name</th>-->
<!--      <th>Drive</th>-->
<!--      <th>Card</th>-->
<!--      <th>Operating System</th>-->
<!--      <th>Screen</th>-->
<!--      <th>Size</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--&lt;!&ndash;    <tbody>&ndash;&gt;-->
<!--&lt;!&ndash;    <tr th:each="laptop : ${laptops}">&ndash;&gt;-->
<!--&lt;!&ndash;      <td th:text="${laptop.id}">ID</td>&ndash;&gt;-->
<!--&lt;!&ndash;      <td th:text="${laptop.name}">ID</td>&ndash;&gt;-->
<!--&lt;!&ndash;      <td th:text="${laptop.drive}">ID</td>&ndash;&gt;-->
<!--&lt;!&ndash;      <td th:text="${laptop.card}">ID</td>&ndash;&gt;-->
<!--&lt;!&ndash;      <td th:text="${laptop.operatingSystem}">ID</td>&ndash;&gt;-->
<!--&lt;!&ndash;      <td th:text="${laptop.screen}">ID</td>&ndash;&gt;-->
<!--&lt;!&ndash;      <td th:text="${laptop.size}">ID</td>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;      <td><a class="btn btn-primary" th:href="${Laptop.id}">Edit</a>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        <button>Delete</button>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;      </td>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    </tr>&ndash;&gt;-->
<!--&lt;!&ndash;    </tbody>&ndash;&gt;-->
<!--  </table>-->
  <h1>Hello</h1>
</div>




</body>
</html>

