<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add laptop</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/new">Add product</a>
      </li>
    </ul>
  </div>
</nav>

<br>
<br>

<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 container justify-content-center card">
      <h1 class="text-center">Add new laptop</h1>
      <div class="card-body">
        <form th:action="@{/create}" th:object="${laptopDTO}" method="post">

          <div class="form-group">
            <label class="control-label" for="name"> Name </label>
            <input id="name" class="form-control" th:field="*{name}"
                   required autofocus="autofocus" />
          </div>

          <div class="form-group">
            <label class="control-label" for="card"> Card </label>
            <input id="card" class="form-control" th:field="*{card}"
                   required autofocus="autofocus" />
          </div>

          <div class="form-group">
            <label class="control-label" for="drive"> Drive </label>
            <input id="drive" class="form-control" th:field="*{drive}"
                   required autofocus="autofocus" />
          </div>

          <div class="form-group">
            <label class="control-label" for="operatingSystem"> Operating system </label>
            <input id="operatingSystem" class="form-control" th:field="*{operatingSystem}"
                   required autofocus="autofocus" />
          </div>

          <div class="form-group">
            <label class="control-label" for="screen"> Screen </label>
            <input id="screen" class="form-control" th:field="*{screen}"
                   required autofocus="autofocus" />
          </div>

          <div class="form-group">
            <label class="control-label" for="size"> Size </label>
            <input id="size" class="form-control" th:field="*{size}"
                   required autofocus="autofocus" />
          </div>

          <div class="form-group">
            <label class="control-label" for="brandCode"> Brand </label>
            <input id="brandCode" class="form-control" th:field="*{brandCode}"
                   required autofocus="autofocus" />
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-success">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>